<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="Test_InsertDB" connectionString="Server=.;UID=sa;password=Password0;database=test;" providerName="System.Data.SqlClient" />
  <add name="Test_SelectDB" connectionString="Server=.;UID=sa;password=Password0;database=test;" providerName="System.Data.SqlClient" />
</connectionStrings>
