<?xml version="1.0"?>
<client>
  <endpoint address="http://localhost:2595/UserService.svc" binding="basicHttpBinding"
    bindingConfiguration="BindingbasicHttp_Service" contract="Ctrip.SOA.Bussiness.User.Service.IUserService"
    name="IUserService" />
  <endpoint address="http://localhost:2595/UserService.svc" binding="basicHttpBinding"
    bindingConfiguration="BasicHttpBinding_IUserService" contract="UserService.IUserService"
    name="BasicHttpBinding_IUserService" />
</client>
